/* Цвет второй части лого #000000 */
/* Цвет акцента #2196F3 */
/* Основной цвет #212121  */
/* Вторичный цвет #757575 */
/* Цвет текста в Герое и адреса в футере #FFFFFF  */
/* Цвет имейла и телефона в футере rgba(255, 255, 255, 0.6) */

:root {
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
  --white: #ffffff;
  --logo-second: #000000;
  --hero-footer-bcg: #2f303a;
  --button-bcg: #f5f4fa;
  --button-hover: #188ce8;
  --header-border: #ececec;
  --project-border: #eeeeee;
  --hero-bcg: #c4c4c4;
  --icon-color: #afb1b8;
  --icon-header: #757575;
}

body {
  background-color: var(--white);
  color: var(--primary-color);
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: none;
}

/* Утилиты */

.list {
  list-style: none;
}

.list,
.title,
.type {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list .link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка */

.header {
  border-bottom: 1px solid var(--header-border);
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-first,
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-second {
  color: var(--logo-second);
}

/* Навигация */

.block-top {
  display: flex;
}

.nav {
  align-items: center;
}

.nav,
.site-nav,
.site-contacts {
  display: flex;
}

.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.button-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.site-contacts {
  margin-left: auto;
}

.site-nav .link {
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.footer .link:hover {
  color: var(--accent-color);
}

.site-nav,
.site-contacts {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-options {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 50px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.site-nav .current {
  color: var(--accent-color);
}

.nav-link.current::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: currentColor;
}

/* Контакты */
.site-contacts .link {
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-color: var(--hero-bcg);
}

.hero-box {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  min-width: 216px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: var(--button-hover);
}

.hero-button:focus {
  color: var(--accent-color);
}

.button-title {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: collapse; */
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: inherit;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  margin-top: 40px;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.form-modal {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.label-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.form-field {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea {
  display: block;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.svg-modal {
  position: absolute;
  top: 50%;
  display: block;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  fill: var(--primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within ~ .svg-modal,
.form-field:hover ~ .svg-modal {
  fill: var(--accent-color);
}

.form-field:hover,
.form-textarea:hover,
.form-field:focus,
.form-textarea:focus {
  border: 2px solid var(--accent-color);
}

.form-checkbox {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--icon-header);
  padding-left: 35px;
  margin-bottom: 30px;
}

.checkbox-link {
  padding-left: 3px;
  color: var(--accent-color);
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.icon-checkbox {
  position: absolute;
  display: block;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checkbox:hover,
.icon-checkbox:focus {
  border: 2px solid var(--accent-color);
}

.svg-check {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkbox:checked + .icon-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-origin: border-box;
}

.button-form {
  margin-left: auto;
  margin-right: auto;
}

/* Наші особливості */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.features-item,
.services-item,
.workers-item {
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.services-item {
  z-index: -1;
}

.features-desc {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.7;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.thumb {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--button-bcg);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

/* Чем мы занимаемся */

.services {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.services-item {
  width: 370px;
}

.services-item:not(:last-child) {
  margin-right: 30px;
}

.services-thumb {
  position: relative;
}

.services-text {
  display: flex;
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  align-items: center;
  justify-content: center;
}

.desc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

/* Наша команда */

.site-workers {
  background-color: var(--button-bcg);
}

.workers {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.workers-item:not(:last-child) {
  margin-right: 30px;
}

.workers-item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.services-title,
.workers-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.workers-name,
.workers-speciality {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.workers-name {
  font-weight: 500;
  margin-bottom: 10px;
}

.workers-section {
  padding: 30px;
}

.workers-icon {
  display: flex;
}

.icon-list {
  display: flex;
  gap: 10px;
}

.social-icon {
  display: block;
  color: var(--icon-color);
  fill: currentColor;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0 12px;
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--accent-color);
  color: var(--white);
}

/* Портфоліо. Наші роботи*/

.options-button {
  background-color: var(--button-bcg);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.options-button:hover,
.options-button:focus {
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.site-projects {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.projects-title {
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.projects-type {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.88;
}

.project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-contant {
  padding: 20px 24px;
  border-left: 1px solid var(--project-border);
  border-bottom: 1px solid var(--project-border);
  border-right: 1px solid var(--project-border);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects:hover,
.projects:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects:hover .text-overlay,
.projects:focus .text-overlay {
  transform: translateY(0);
}

.overlay-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  margin: 0 24px;
  color: var(--white);
}

/* Постійні клієнти */
.clients {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.clients-icon {
  display: flex;
  color: var(--icon-color);
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item {
  width: 170px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.clients-icon:hover,
.clients-icon:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */

.logo-third,
.address {
  color: var(--white);
}

.footer {
  background-color: var(--hero-footer-bcg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container .logo {
  padding-top: 0;
  padding-bottom: 0;
}

.footer .logo {
  margin-bottom: 20px;
}

.site-address {
  font-style: normal;
}

.site-address .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-address .link:focus {
  color: var(--accent-color);
}

.footer-contacts .link {
  font-size: 14px;
  line-height: 1.7;
}

.address-item {
  margin-bottom: 9px;
}

.mail,
.tel {
  color: rgba(255, 255, 255, 0.6);
}

.networks {
  display: flex;
}

.footer-address {
  display: block;
  width: 231px;
  margin-right: 70px;
}

.networks-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.site-networks {
  display: block;
  height: 80px;
  width: 206px;
  margin-top: 12px;
  margin-right: 93px;
}

.footer .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-icon {
  display: flex;
  gap: 10px;
}

.social-icon.net {
  display: block;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0 12px;
}

.social-icon.net:hover,
.social-icon.net:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.site-form {
  display: block;
  height: 86px;
  width: 570px;
  margin-top: 12px;
}

.form {
  display: flex;
}

.label-footer {
  display: block;
  margin-right: 12px;
}

.input-footer {
  display: block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--hero-footer-bcg);
}

.input-footer::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.input-footer:focus {
  outline: 1px solid var(--accent-color);
}

.button-footer,
.button-form {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: inherit;
  border-radius: 4px;
}

.button-footer:hover,
.button-footer:focus,
.button-form:hover,
.button-form:focus {
  background-color: var(--button-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-send {
  display: block;
  margin-left: 10px;
}
