%button {
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  min-width: 216px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  transition: background-color $transition-duration $cubic;
}

%button__title {
  font-family: inherit;
  color: $white;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

%button:hover {
  background-color: $button-hover;
}
