.header-list {
  @extend %list;
  // display: flex;
  gap: 50px;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  &__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-color;
    transition: color $transition-duration $cubic;
  }

  &__link--current {
    color: $accent-color;
  }

  &__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: currentColor;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}
