.header {
  border-bottom: 1px solid $header-border;

  @media screen and (max-width: 767px) {
    position: relative;
  }

  &__nav {
    // display: flex;
    // align-items: center;
    @media screen and (max-width: 767px) {
      display: flex;
      height: 60px;
      align-items: center;
      justify-content: space-between;
    }
  }
}
