.header-contacts {
  @extend %list;
  // display: flex;
  margin-left: auto;
  gap: 50px;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }

  &__link {
    // @include centeredFlex($position: start);
    padding-top: 32px;
    padding-bottom: 32px;
    color: $secondary-color;
    transition: color $transition-duration $cubic;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}
