.hero {
  @extend %section;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-color: $hero-bcg;

  &__title {
    color: $white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
  }
}

.hero-box {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.container {
  @extend %container;
}

.button {
  @extend %button;
  @extend %button__title;
}
