.hero {
  @extend %section;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-image.jpg);
  background-size: cover;
  background-position: center;
  background-color: $hero-bcg;

  &-box {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    color: $white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity $transition-duration $cubic;

  &--is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--white);
  transition: transform $transition-duration $cubic;

  &__button {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: inherit;
    cursor: pointer;
    transition: fill $transition-duration $cubic;
  }

  &__button:hover,
  &__button:focus {
    fill: $accent-color;
  }

  &__title {
    display: block;
    margin-top: 40px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: $primary-color;
  }

  .backdrop--is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $secondary-color;
  }
}
