.visually-hidden {
  @extend %visually-hidden;
}

.section {
  @extend %section;
}

.container {
  @extend %container;

  &--position {
    display: flex;
  }
}

.thumb {
  @include centeredFlex();
  width: 270px;
  height: 120px;
  background-color: $button-bcg;
  margin-bottom: 30px;
  border-radius: 4px;
}

.social-networks {
  display: flex;
}
