.modal {
  max-width: 528px;
  min-height: 581px;
  padding: 40px 40px;
  background-color: $white;
  // transition: transform $transition-duration $cubic;

  @media screen and (max-width: 767px) {
    position: relative;
    width: 100%;
  }

  @media screen and (min-width: 555px) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform $transition-duration $cubic;
  }

  &__button {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: inherit;
    cursor: pointer;
    transition: fill $transition-duration $cubic;
  }

  &__button:hover,
  &__button:focus {
    fill: $accent-color;
  }

  &__title {
    display: block;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: $primary-color;
  }

  .backdrop--is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }
}
