.portfolio-nav {
  @extend %list;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 50px;
  gap: 8px;

  &__button {
    background-color: $button-bcg;
    color: $primary-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 6px 22px;
    transition: background-color $transition-duration $cubic, box-shadow $transition-duration $cubic;
  }

  &__button:hover,
  &__button:focus {
    color: $white;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
