.projects-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;

  &__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
