.services {
  @media screen and (max-width: 767px) {
    display: none;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    @extend %list;
    // display: flex;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  &__item {
    width: 370px;
    z-index: -1;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &__products {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
  }
}
