.social {
  display: flex;
  gap: 10px;
  @extend %list;

  &__icon {
    display: block;
    width: 44px;
    height: 44px;
    padding: 0 12px;
  }

  &__item {
    display: block;
    color: $icon-color;
    fill: currentColor;
    border-radius: 50%;
    transition: background-color $transition-duration $cubic, color $transition-duration $cubic;
  }

  &__item:hover,
  &__item:focus {
    background-color: $accent-color;
    color: $white;
  }

  &__item--footer {
    color: $white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: currentColor;
    transition: color $transition-duration $cubic, background-color $transition-duration $cubic;
  }

  &__item--footer:hover,
  &__item--footer:focus {
    color: $white;
    background-color: $accent-color;
  }
}
