.workers {
  background-color: $button-bcg;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }

  &__name,
  &__speciality {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
  }

  &__name {
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__list {
    @extend %list;
    display: flex;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  &__item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__box {
    padding: 30px;
  }
}
