.header-contacts {
  @extend %list;
  margin-left: auto;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  @media screen and (max-width: 767px) {
    display: flex;
    gap: 32px;
    flex-direction: column-reverse;
    font-size: 34px;
    line-height: 1.18;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__item:first-child {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1200px) {
      padding-right: 30px;
    }
  }

  &__link {
    @media screen and (min-width: 1200px) {
      @include centeredFlex($position: start);
      padding-top: 32px;
      padding-bottom: 32px;
    }

    color: $secondary-color;
    transition: color $transition-duration $cubic;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}
