$accent-color: #2196f3;
$primary-color: #212121;
$secondary-color: #757575;
$white: #ffffff;
$logo--header: #000000;
$hero-footer-bcg: #2f303a;
$button-bcg: #f5f4fa;
$button-hover: #188ce8;
$header-border: #ececec;
$project-border: #eeeeee;
$hero-bcg: #c4c4c4;
$icon-color: #afb1b8;
$icon-header: #757575;
$transition-duration: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
